:root {
    scroll-behavior: smooth;
  }
  * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body{
      font-family: Arial, Helvetica, sans-serif;
    }
  
  .header {
      display: grid;
      grid-template-columns: 1fr auto;
      align-items: center;
      padding: 20px;
      background-color: white;
      color: black;
      position: sticky;
      top: 0;
      width: 100%;
      z-index: 1000;
  
    }
    
    .header ul {
      list-style-type: none;
      display: flex;
    }
    
    .header ul li {
      margin-right: 20px;
    }
    
    .header ul li a {
      color: black;
      text-decoration: none;
      padding: 5px 10px;
      transition: background-color 0.3s, color 0.3s;
      
    }
    
    .header ul li a:hover {
      opacity: 0.6;
    }
  
  
    a:link{
      color: green;
    }
    
    .contenido_Principal{
      width: 90%;
      height: auto;
  
    }
  
    .contenedor{
      margin: 20px; /*Hay que mirar eso que dijo manu de que todo tuviese el mismo margen para que todas las paginas fuesen iguales*/
    }
  
  
  
    .miembro {
      width: 48%;
      margin: 15px 0;
      padding: 15px;
      background-color: #ecf0f1;
      border-radius: 5px;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }
    
    .miembro:hover {
      transform: scale(1.05);
    }
    
  
  
    .miembro img {
      max-width: 40%;
      height: auto;
      border-radius: 50%;
    }
  
    .miembro img.github { /*Me gustaria poner la pseudoclase esa que cuando pones el raton encima te sale un cuadrado con informacion y poner Enlace a github*/
      width: 30px;
      float: right;
    }
  
  
    /*Propiedades del boton que te sube hacia arriba la página*/
    .stt {
      position: fixed;
      right: 0.5em;
      bottom: 0.5em;
      max-width: 3em;
      max-height: 3em;
      border-radius: 50%;
      opacity: 1;
      z-index: 999;
    }
    
    .stt img {
      max-width: 3em;
      max-height: 3em;
    }
    
    .stt:hover {
      opacity: 0.8;
    }
    
    .stt:focus {
      opacity: 0.9;
    }
    
    .stt:active {
      opacity: 100;
    }






    <div class="contenido_Principal">
        <h1>Sobre nosotros: </h1>

        <div class="contenedor">
            <p>
                <b>¿Quienes somos?</b><br>
                Somos un equipo apasionado comprometido con la misión de enriquecer la comunidad de Utrera a través de la difusión de conocimiento. Nos dedicamos incansablemente a fomentar el turismo y contar la historia de nuestra querida ciudad.
            </p>
            <br><br>

            <p>
                <b>¿Cual es nuestra misión?</b><br>
                Nos dedicamos a resaltar lo mejor de Utrera para que cada visitante tenga una experiencia inolvidable. Nos esforzamos por ser tu guía confiable, brindándote información detallada sobre los mejores lugares para comer, opciones de alojamiento acogedoras y emocionantes actividades para que disfrutes al máximo tu tiempo en nuestra encantadora ciudad. Creemos que al compartir la riqueza de Utrera, contribuimos a crear recuerdos inolvidables para todos aquellos que nos visitan.
            </p>
            <br><br>

            <p>
                <b>¿Que servicios prestamos?</b><br>
                <ul>
                    <li>Guia de Utrera &rarr; </li> <!--hacer referencias a los enlaces que te lleven a ese apartado --> 
                    <li>Recomendaciones Gastronómicas &rarr; </li>
                    <li>Alojamientos Acogedores &rarr; </li>
                    <li>Información Útil para Turistas &rarr;</li>
                    
                </ul>
            </p>

            <br><br>
            <p>
                <b>Integrantes del grupo:</b><br>

                <section class="miembro" id="elia">
                    <img src="imagenes/elia.jpg" alt="Eliaser Pérez">
                    <h2>Eliaser Pérez</h2>
                    <p>
                        Papas arrugadas.
                        <a href="https://github.com/Eperyaq"><img class="github" src="imagenes/github.png" alt="Github"></a>
                    </p>
                  </section>
              
                  <section class="miembro" id="bouza">
                    <img src="imagenes/bouza.jpg" alt="Manuel Bouza">
                    <h2>Manuel Bouza</h2>
                    <p>
                        gallego, mu grande y un maquina
                        <a href="https://github.com/mbougar"><img class="github" src="imagenes/github.png" alt="Github"></a>
                    </p>
                  </section>
              
            </p>
            <br><br>

        </div>