:root {
  scroll-behavior: smooth;
}

/*Importamos fuenets de google directamente para asegurarnos de que existen y reducir el peso de la pagina*/
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Playfair+Display&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
}

.header {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 20px;
  background-color: white;
  color: black;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.header ul {
  list-style-type: none;
  display: flex;
}

.header ul li {
  margin-right: 20px;
}

.header ul li a {
  color: black;
  text-decoration: none;
  padding: 5px 10px;
  transition: background-color 0.3s, color 0.3s;
  
}

.header ul li a:hover {
  opacity: 0.6;
}

.imagenPrincipal img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  padding-bottom: 1em;
}

.info {
  text-align: center;
  padding: 3em 5%;
  opacity: 0.8;
}

.info h1{
  padding-bottom: 0.5em;
  font-family: 'Playfair Display', serif;
  font-size: 2.5rem;
}

.linksInfo {
  place-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0;
  padding: 0;
}

.linksInfo div {
  padding-bottom: 3em;
}

.linksInfo img {
  width: 60%;
  padding: 0;
  margin: 0;
  border-radius: 25%;
}

.linksInfo img:hover {
  opacity: 0.8;
}

.footer {
  text-align: center;
  padding: 20px;
  background-color: #333;
  color: #fff;
  z-index: 1000;
}

.stt {
  position: fixed;
  right: 0.5em;
  bottom: 0.5em;
  max-width: 3em;
  max-height: 3em;
  border-radius: 50%;
  opacity: 1;
  z-index: 999;
}

.stt img {
  max-width: 3em;
  max-height: 3em;
}

.stt:hover {
  opacity: 0.8;
}

.stt:focus {
  opacity: 0.9;
}

.stt:active {
  opacity: 100;
}